body{
    background-color: black;
}
.\<Teach{
    text-align: center;
    color:white;
    font-size: 130px;

}
p::first-letter{
    color: yellow;
}
.Me{
    margin-top: -170px;
    text-align: center;
    color: white;
    font-size: 130px;
}
.Skills\/\>{
    margin-top: -35px;
    text-align: center;
    color: white;
    font-size: 130px;
   padding-left: 230px;
}
span:last-child{
    color: yellow;
}